.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  :root{

    --main-color: black;
    --second-color: white;
    --third-color: red;

    --font-lato: "Lato", sans-serif;
    --font-montsserat: "Montsserat", sans-serif;

  }

  *{
    margin: 0;
    padding: 0;
}

body {

    /*  height: 100vh; */
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--second-color);

}

.cabecalho{

    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{

    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    text-decoration: none;
    font-family: var(--font-montsserat);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--third-color);
    transition: 0.5s;
    
}
.cabecalho__menu__link:hover{
    /* font-size: 25px; */
    transform: scale(1.3);
    color: rgba(255, 0, 0, 0.479);

}
h1{

    font-weight: bold;
}
strong{
    color: var(--third-color);
}
span{
    color: var(--third-color);

    padding: 3px;
}

.presentation{

    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;


}

.presentation__content{

   /* height: 482; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-family: var(--font-lato);
    font-size: 2.25rem;
}

.presentation__content__text{
    font-family: var(--font-lato);
    font-size: 1.5rem;
}

.presentation__links{

    display: flex;
    justify-content: space-between;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentation__links__subtitle{
    font-family: var(--font-lato);
    font-weight: 400;

}




.presentation__links_navegation{

    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 16px;
    /* background-color: red; */
    /* height: 20px; */
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 24px;
    color: var(--third-color);
    font-family: var(--font-lato);
    font-weight: 400;
    border: 2px solid var(--third-color);
    transition: .5s;
    

}


.footer{
    text-align: center;
    display: flex;
    /* background-color: red; */
    width: 560px;
    height: 40px;
    border-radius: 12px


}

.presentation__links_navegation:hover{

    background-color: #272727;
    transform: scale(1.1);
    

}


.presentation__image{
    width: 50%;

}

.rodape{

    font-size: 1.5rem;
    text-align: center;
    background-color: var(--third-color);
    color: var(--main-color);
    font-family: var(--font-lato);
    padding: 24px;
    font-weight: 400;
}

@media (max-width: 1200px) {
    
    .cabecalho{
        padding: 3rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .cabecalho__menu{

        justify-content: center;
    }

    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
        

    }

    .presentation__content{

        width: auto;

    }

  

}