.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

body {
    
    height: 100vh;
    box-sizing: border-box;

    background-color: black;
    color: white;
    
}
h1{

    font-weight: bold;
}
strong{
    color: red;
}
span{
    color: red;
    
    padding: 3px;
}

.presentation{
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.presentation__content{

   /* height: 482; */
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-family: "Lato", sans-serif;
    font-size: 36px;
}

.presentation__content__text{
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.presentation__links{
    
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.presentation__links_link{
    text-decoration: none;
    background-color: red;
    height: 20px;
    width: 260px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}


.presentation__links_links{
    text-decoration: none;
    background-color: red;
    height: 20px;
    width: 260px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}